@import 'reset';
.basic-a{
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
    opacity: 0.95;
    display: inline-block;
    border-radius: 2.5px;
    background:rgb(230, 28, 38);
    font-weight: 600;    
}
.basic-h4{
    font-weight: 600;
    font-size: 0.90em;
    margin-bottom: 25px;
    text-transform: uppercase;
}
    
/* Mobile Styles */
body{
    width: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-areas: 
        "header" 
        "features"
        "projects"
        "team-members"
        "testimonial"
        "download"
        "footer";
}

header{
    grid-area: header;
    background: url("../assets/images/banner.jpg") no-repeat center;
    background-size: cover;
    .main-nav{
        display: grid;
        grid-template-areas: "logo nav-links nav-links";
        padding: 40px 25px;
        border-bottom: #5D5C74 1px solid;
        // position: fixed;
    
        .logo{
            grid-area: logo;
            p{
                font-size: 1.8em;
                font-weight: bold;
                color: #5D5C74;
                span{
                    font-weight: normal;
                    color: #D4D4DA;
                }
            }
        }
    
        .nav-links{
            grid-area: nav-links;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
    
            color: #D4D4DA;
        }
    }

    .hero-content{
        padding: 85px 25px 0 25px;
        color: white;
        text-align: center;
        line-height: 1.2;

        h1{
            font-size: 2.7em;
            font-weight: bold;
            text-transform: uppercase;
        }
        p{
            color: #D4D4DA;
            font-size: 1.1em;
            line-height: 1.5;

            margin-top: 10px;
            margin-bottom: 80px;
        }
        a{
            @extend .basic-a;
            padding: 15px 40px;
            margin-bottom: 250px;
        }
    }
}

.features{
    grid-area: features;
    padding: 90px 30px;
    text-align: center;

    .feat{
        margin-bottom: 55px;
        i{
            font-size: 70px;
            opacity: 0.88;
            color: #e84545;
        }
        h3{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.85em;
            margin-top: 30px;
            margin-bottom: 15px; 
        }
        p{
            color: #6c7279;
            font-size: 0.90em;
            line-height: 1.5;
        }
    }
}

.projects{
    grid-area: projects;
    img{
        width: 100%;
        height: auto;
    }
}

.team-members{
    grid-area: team-members;
    padding: 95px 155px;

    .member{
        text-align: center;
        img{
            margin-top: 55px;
        }
        .first-member{
            margin-top: 0px;
        }
        h3{
            font-size: 1.2em;
            opacity: 0.85;
            margin-top: 17px;
        }
        p:nth-child(3){
            color: #e84545;
            text-transform: uppercase;
            font-size: 0.80em;
            margin-top: 8px;
        }
        p:nth-child(4){
            font-size: 0.85em;
            margin-top: 25px;
            line-height: 1.6;
            color: #6c7279;
        }
        .social{
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
            font-size: 40px;
            span{
                color: #c4cbd3;
            }
            span:hover{
            color: #fda7a7;            
            }
        }
    }
}

.testimonials{
    grid-area: testimonial;
}

.download{
    grid-area: download;
    text-align: center;
    h4{
        font-size: 1.5em;
        margin-bottom: 14px;
    }
    p{
        font-size: 0.85em;
        font-weight: 600;
        margin-bottom: 32px;
    }
    a{
        @extend .basic-a;
        padding: 15px 40px;
        margin-bottom: 90px;
        letter-spacing: .2px;
    }
}

footer{
    background-color: #3a3e64;    
    grid-area: footer;
    text-align: center;
    color: white;
    section{
        .location{
            margin: 50px 0;
            h4{
                @extend .basic-h4;
            }
            p{
                font-size: 0.85em;
                opacity: 0.5;
            }
        }
        .share{
            margin-bottom: 40px;
            h4{
                @extend .basic-h4;  
                margin-bottom: 15px;            
            }
            span{
                font-size: 37px;
                color: white;
                margin-right: 7px;
            }
            span:hover{
            color: #e84545;            
            }
        }
        .about{
            padding: 0 20px;
            padding-bottom: 50px;
            h4{
                @extend .basic-h4;              
            }
            p{
                font-size: 0.85em;
                opacity: 0.5;
            }
        }
    }
    .copyright{
        background-color:#313454; 
        padding: 30px 0;
        p{
            font-size: 0.87em;
            opacity: 0.5;
            .heart{
                color: red;
                opacity: 1;
                font-size: 0.75em;
            }
            .dev{
                color: white;
            }
        }
        p:first-child{
            margin-bottom: 7px;
        }
        
    }
}

/* Tablet Styles */
@media only screen and (min-width : 768px){

    .hero-content{
        h1{
            font-size: 1.5em;
        }
    }
    // %jdoasfjodf7878941
    // ?ksdf792adsf_
}